<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>courseId</key>
		<integer>0</integer>
		<key>describe</key>
		<string>数学（mathematics或maths），是研究数量、结构、变化、空间以及信息等概念的一门学科，从某种角度看属于形式科学的一种。
而在人类历史发展和社会生活中，数学也发挥着不可替代的作用，也是学习和研究现代科学技术必不可少的基本工具。
数学（mathematics或maths），是研究数量、结构、变化、空间以及信息等概念的一门学科，从某种角度看属于形式科学的一种。
而在人类历史发展和社会生活中，数学也发挥着不可替代的作用，也是学习和研究现代科学技术必不可少的基本工具。
数学（mathematics或maths），是研究数量、结构、变化、空间以及信息等概念的一门学科，从某种角度看属于形式科学的一种。
而在人类历史发展和社会生活中，数学也发挥着不可替代的作用，也是学习和研究现代科学技术必不可少的基本工具。
数学（mathematics或maths），是研究数量、结构、变化、空间以及信息等概念的一门学科，从某种角度看属于形式科学的一种。
而在人类历史发展和社会生活中，数学也发挥着不可替代的作用，也是学习和研究现代科学技术必不可少的基本工具。
数学（mathematics或maths），是研究数量、结构、变化、空间以及信息等概念的一门学科，从某种角度看属于形式科学的一种。
而在人类历史发展和社会生活中，数学也发挥着不可替代的作用，也是学习和研究现代科学技术必不可少的基本工具。</string>
		<key>image</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>数学</string>
	</dict>
	<dict>
		<key>courseId</key>
		<integer>1</integer>
		<key>describe</key>
		<string>英语（English），属于印欧语系中日耳曼语族下的西日耳曼语支，是由古代从丹麦等斯堪的纳维亚半岛以及德国、荷兰及周边移民至不列颠群岛的盎格鲁、撒克逊和朱特部落的日耳曼人所说的语言演变而来，并通过英国的殖民活动传播到了世界各地。由于在历史上曾和多种民族语言接触，它的词汇从一元变为多元，语法从“多屈折”变为“少屈折”，语音也发生了规律性的变化。
根据以英语作为母语的人数计算，英语是最多国家使用的官方语言，英语也是世界上最广泛的第二语言，也是欧盟的，最多国际组织和英联邦国家的官方语言，拥有世界第三位的母语使用者人数，仅少于汉语和西班牙语母语使用者人数。
在19至20世纪的，英国和美国在文化、经济、军事、政治和科学在世界上的领先地位使得英语成为一种国际语言。如今，许多国际场合都使用英语做为沟通媒介。英语也是与电脑联系最密切的语言，大多数编程语言都与英语有联系，而且随着网络的使用，使英文的使用更普及。英语是联合国的工作语言之一。 一些人认为低地苏格兰语是与英语最接近的一个独立语言，而一些人则认为它是英语的一个方言。与古英语最接近的是古弗里西语，这种语言现在仍然德国北部和荷兰的弗里斯兰省使用。苏格兰语、低地撒克逊语、丹麦语、德语、荷兰语、南非荷兰语和英语也很接近。拥有丹麦血统的法国的诺曼人于11世纪征服英格兰王国，带来数万法语词汇和拉丁语词汇，很大程度地丰富了英语词汇外，相对也驱使不少原生的日耳曼语汇作废。</string>
		<key>image</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>英语</string>
	</dict>
	<dict>
		<key>courseId</key>
		<integer>2</integer>
		<key>describe</key>
		<string>是语言和文学及文化的简称。包括口头语言和书面语言，口头语言较随意，直接易懂，而书面语言讲究准确和语法；文学包括中外古今文学等。此解释概念较狭窄，因为语文中的文章不但有文艺文（文学、曲艺等），还有很多实用文（应用文）。通俗的说，语言就是说话艺术。
一般认为是语言和文化的综合科。语言和文章、语言知识和文化知识的简约式统称等都离不开它。它是听、说、读、写、译、编等语言文字能力和知识，文化知识的统称。也可以说，语文是口头和书面的语言和言语的合称，是语言规律和运用语言规律所形成的言语作品的言语活动过程的总和。
语文是基础教育课程体系中的一门教学科目，其教学的内容是语言文化，其运行的形式也是语言文化。语文的能力是学习其他学科和科学的基础，也是一门重要的人文社会学科，人们交流思想的工具。具有工具性与人文性的统一特点。
语文是偏重从文献角度研究语言和文字的学科总称，一般包括文字学、训诂学、音韵学、校勘学等。中国由于古代文献丰富，文字比较特殊，语文比较发达，广义的语文也应该包括语言学，也就是语言学和文字学的总称，但现在由于国际学术分科中语言学是一大类，所以目前反而是语文学从属于语言学，成为语言学的一个分支。语文能力是学习其他学科和科学的基础，也是一门重要的人文社会科学，是人们相互交流思想等的工具。《语文》也是中国的学校等教育机构开设的一门主要学科，中国语文教科书一般讲授的是汉语文。</string>
		<key>image</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>语文</string>
	</dict>
	<dict>
		<key>courseId</key>
		<integer>3</integer>
		<key>describe</key>
		<string>化学是自然科学的一种，在分子、原子层次上研究物质的组成、性质、结构与变化规律；创造新物质的科学。世界由物质组成，化学则是人类用以认识和改造物质世界的主要方法和手段之一。它是一门历史悠久而又富有活力的学科，它的成就是社会文明的重要标志，化学中存在着化学变化和物理变化两种变化形式。</string>
		<key>image</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>化学</string>
	</dict>
</array>
</plist>
