<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>tel</key>
		<string>138888888888</string>
		<key>userId</key>
		<integer>1</integer>
		<key>userName</key>
		<string>赵四大</string>
		<key>age</key>
		<integer>18</integer>
		<key>address</key>
		<string>天鹅湖万达</string>
	</dict>
</array>
</plist>
